[user]
    name = James D
    email = jamesgecko@gmail.com
[core]
    excludesfile = /Users/jdent/.gitignore_global
[color]
    ui = true
[credential]
    helper = osxkeychain
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    root = rev-parse --show-toplevel
    currentbranch = rev-parse --abbrev-ref HEAD
    cb = rev-parse --abbrev-ref HEAD
    recentbranch = for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ --count=10
    rb = for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ --count=10
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pull]
	rebase = true
